.emacs.d/elpa
.emacs.d/projectile-bookmarks.eld
.emacs.d/ac-comphist.dat
.emacs.d/.mc-lists.el
.emacs.d/bookmarks
.places
ac0comphist.dat
auto-save-list
elpa
ido.last
projectile-bookmarks.eld
smex-items
.mc-lists.el
ac-comphist.dat
.tern-port
eshell
recentf