[submodule "es6-snippets"]
        path = es6-snippets
        url = https://github.com/CodyReichert/es6-snippets.git
[submodule "js2-res6"]
        path = js2r-es6
        url = https://github.com/jakoblind/js2r-es6
[submodule "github-pullrequest"]
        path = github-pullrequest
        url = https://github.com/jakoblind/github-pullrequest.git
[submodule "emacs-flycheck-flow"]
	path = emacs-flycheck-flow
	url = https://github.com/lbolla/emacs-flycheck-flow.git
[submodule "Es6-React-Snippets-Emacs"]
	path = Es6-React-Snippets-Emacs
	url = https://github.com/rparkisoniii/Es6-React-Snippets-Emacs.git
[submodule "forge"]
	path = forge
	url = https://github.com/magit/forge/
